.goal-setting {
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(240,248,255, 0.6);
    
  }

  .goal-setting-container{
    padding: 60px 260px;
    
  height: 100vh; 
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .goal-cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .goal-card {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width as needed */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  @media (max-width: 768px) {
    .goal-card {
      flex: 0 0 calc(50% - 20px); /* Adjust the width for smaller screens */
    }
  }
  