/* ActivityLog.css */
.activity-log {
   
    margin-top: 20px;
  }
  
  .activity-card {
    background-color: rgba(0, 0, 0, 0.1); /* Grey transparent background */
    padding: 20px;
    display: block;
    border-radius: 8px;
    flex: 1 0 300px; /* Flexbox properties for responsive layout */
  }
  
  .activity-card p {
    margin: 0;
  }
  