.navbarsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 5vh;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .avatar-icon {
    color: #007bff;
    margin-right: 10px;
  }
  
  .logo-text {
    font-weight: bold;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #007bff;
  }
  
  .navbar a.active {
    font-weight: bold;
    color: #007bff;
  }
  